
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";
}


    <div class="container-fluid py-4">
        <div class="row">
            <div style="font-size: 45px;font-weight: bold;text-align: center;margin-bottom: 65px;padding-left:200px;">Dashboard</div>
        </div>
    </div>
